:root {
  --header-color: #282c34;
  --background-color: white;

  font-family: s;
}

.App-header {
  text-align: center;
  min-height: 100px;
  padding-top: 20px;
}

.App-header > h1 {
  max-width: 250px;
  float: left;
  margin-right: 100px;
}

.loginForm {
  max-width: 500px;
  float: right;
}

.blog {
  width: 800px;
}

.blogWeek {
  position: relative;
  margin-bottom: 20px;
}

.blogPost h3 {
  margin-bottom: 0px;
}

.blogPost p {
  margin: 5px 0px 5px 0px;
}

.weekNumber {
  position: absolute;
  left: -50px;
}
.weekNumber h5 {
  margin: 0px;
}
.weekNumber h1 {
  margin: 0px;
}
